<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <title>Ministory</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbarFragment}"></nav>
<th:block layout:fragment="content"></th:block>
<script th:src="@{/bootstrap.min.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>
